<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            margin: 0px;
        }

        html {
            margin: 0px;
        }

        main {
            flex: 1 0 auto;
        }

        #main-row {
            margin-bottom: 0;
            width: 100%;
            min-height: 100vh;
        }

        #main-nav {
            font-family: 'Fredoka One', cursive;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    </style>

    <script>
        function show_desc() {
            $('exhibit-content').empty();
            $.ajax({
                type: 'GET',
                url: '/api/call_desc',
                data: {},
                success: function (response) {
                    let ex_list = response['ex_list'];
                    let ex_id = '{{exID}}';
                    let ex = [];
                    for (let i = 0; i < ex_list.length; i++) {
                        ex = ex_list[i];
                        if (ex['exID'] == ex_id) {
                            break;
                        }
                    }
                    let ex_img = ex['exImg'];
                    let ex_title = ex['exTitle'];
                    let ex_place = ex['exPlace'];
                    let ex_opening = ex['exOpen_year'] + '.' + ex['exOpen_month'] + '.' + ex['exOpen_day']
                    let ex_closing = ex['exClose_year'] + '.' + ex['exClose_month'] + '.' + ex['exClose_day']
                    let temp_html = `<div class="card-image">
                                                        <img src="${ex_img}">
                                                    </div>   
                                                    <div class="card-content">
                                                        <span class="card-title">${ex_title}</span>
                                                        <p>${ex_place}미술관</p>
                                                        <p>${ex_opening} ~ ${ex_closing}</p>
                                                    </div>`;
                    $('#exhibit-content').append(temp_html)
                }
            });
        }

        $(document).ready(function () {
            show_desc();
        });
    </script>

</head>

<body>
    <div class="navbar-fixed">
        <nav id="main-nav">
            <div class="nav-wrapper lime accent-3">
                <a href="/" class="brand-logo center">NGGM!</a>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card" id="exhibit-content">

            </div>

        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large cyan accent-2" href="/list">
            <i class="large material-icons">arrow_back</i>
        </a>
    </div>

</body>

</html>